.footer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  left: 0;
  right: 0;
  background-color: #151a1f;
  padding: 20px;
  color: #fff;
  text-align: center;
  margin-top: 100px;
  position: fixed;
}
.button2 {
  background-color: white;
  color: black;
  font-family: "Mulish-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;

  height: 41px;
  width: 150px;
  margin-left: 670px;
}
